
@{
    ViewBag.Title = "Create";
}
<h2>Create</h2>
<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label" col-md-2>Text</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label" col-md-2>Number</label>
        <input type="number" class="form-control" />
    </div>

    <div class="form-group">
        <label class="control-label" col-md-2>Choose the type</label>
        <select class="form-control" id="TypeOfQuestion" name="Types" onmousedown="this.value='';" onchange="jsFunction(this.value);">
            <option>Slider</option>
            <option>Smile</option>
            <option>Star</option>
        </select>
        
    </div>
   <script>
       function jsFunction(value) {
           if (value == "Slider")
               
           else if (value == "Smile")
               alert("ddddd");
           else if (value == "Star")
               alert("sss"); 
       }
   </script>
</div>