@model Question.Qustion
<div dir="@SurveyWebSite.Resources.Messages.dir">
    @{
        switch (Model.TypeOfQuestion)
        {
            case Question.TypeOfQuestion.Slider:
                Html.RenderPartial(SurveyWebSite.Resources.Messages.PartailSlider);
                break;
            case Question.TypeOfQuestion.Smily:
                Html.RenderPartial(SurveyWebSite.Resources.Messages.PartailSmile);
                break;
            case Question.TypeOfQuestion.Stars:
                Html.RenderPartial(SurveyWebSite.Resources.Messages.PartailStar);
                break;
        }
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}


