@model IEnumerable<Question.Qustion>
@{
    ViewBag.Title = SurveyWebSite.Resources.Resource.ListOfQuestion;
}
<h2>@SurveyWebSite.Resources.Resource.ListOfQuestion</h2>
<br />
@{
    //Html.RenderPartial("_List",Model);
}

<div id="ListOfQuestion">
    @Html.Partial("_List", Model)
</div>
<p>

    @Html.ActionLink(SurveyWebSite.Resources.Resource.CreateNewQuestion, "Create")
</p>
<script>
    
    function GetData() {
        $.ajax({
            url: "/Question/GetView/",
            type: "get",
            success: function (result) {
                $('#ListOfQuestion').html(result);
            }
        });
    }
    GetData();
</script>