<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label" col-md-2>Text</label>
        <input type="text" class="form-control" name="Text" />
    </div>
    <div class="form-group">
        <label class="control-label" col-md-2>Order Number</label>
        <input type="number" class="form-control" name="Order" />

        <div class="form-group">
            <label class="control-label" col-md-2>StartValue</label>
            <input type="number" class="form-control" name="StartValue" />
        </div>
        <div class="form-group">
            <label class="control-label" col-md-2>EndValue</label>
            <input type="number" class="form-control" id="EndValue" name="EndValue" />
        </div>
        <div class="form-group">
            <label class="control-label" col-md-2>StartCaption</label>
            <input type="text" class="form-control" id="StartCaption" name="StartCaption" />
        </div>
        <div class="form-group">
            <label class="control-label" col-md-2>EndCaption</label>
            <input type="text" class="form-control" id="EndCaption" name="EndCaption" />
        </div>

    </div>
    </div>
