<ul class="nav navbar-nav">
    <li>@Html.ActionLink("English", "Home", "Question", new {language= "en"},null)</li>
    <li>@Html.ActionLink("Arabic", "Home", "Question", new { language = "ar" },null)</li>
</ul>
